[Desktop Entry]
Name=Accento Blue New
X-KDE-PluginInfo-Author=Burim Augustin Berisa
X-KDE-PluginInfo-Email=augustin.berisa@protonmail.com
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-License=GPL v3
X-KDE-PluginInfo-Name=AccentoNew
X-KDE-PluginInfo-Version=1.0
